c a=1, b=0, c=1, d=0
c x1:5 = (a + -b >= 1) = 1
c x2:6 = (a + b + c >= 2) = 1
c x3:7 = (b + c + -d <= 1) = 0
c y1:8 = (x1 + x2 + x3 >= 2) = 1
c y2:9 = (x1 + x2 + x3 <= 2) = 1
p cnf 9 7
1 -2 >= 1 # 5
1 2 3 >= 2 # 6
2 3 -4 <= 1 # 7
5 6 7 >= 2 # 8
5 6 7 <= 2 # 9
8 0
9 0
